/*
div.choosers {display:block;padding:10px;margin:10px;border:1px solid #777;position:absolute;right:20px;top:120px;}
div.memberchooser_member {display:block;padding:2px;margin:2px;border:1px solid #aaa;background-color:#eee;}
div.cam {display:block;padding:2px;margin:2px;border:1px solid #aaa;}


div.group {display:block;position:relative;padding:10px;margin:10px;border:1px solid #777;width:20em;}
div.group button.delete {display:block;position:absolute;top:0px;right:0px;}
div.group h3 {margin:0px;padding:0px;}

*/

.beitrag {position:relative;}


.ablauf li {position:relative;background-color:#F5F5F5;border:1px solid rgb(51 ,51 ,51);margin:8px;border-radius:6px; padding: 10px 4px;}
.ablauf li span.title {font-weight:bold;display:block;width:200px;position:relative;float:left;}
.ablauf li span.info {display:block;float:left;font-size:.75em;}
.ablauf li span.duration {position:absolute;right:10px;text-align:left;}
.ablauf li.live {background-color:#88dd88}
.ablauf li.live span.title {width:100%;}

.ablauf * input {    background: transparent;
    border: none;
    height:24px;
    box-shadow:none;
    padding:0px;margin:0px;
text-align:right;width:5em;}

.comma-list { list-style-type: none }
.comma-list li { display: inline;border-width:0px;padding:0px;margin:0px;}
/* Here's the interesting part: */
.comma-list li:after { content: ", " }
.comma-list li:last-child:after { content: "" }

ul.grouplist {list-style-type:none;}
.grouplist li {clear:both;min-height:88px;position:relative;border:1px solid rgb(51 ,51 ,51);margin:8px;border-radius:6px; padding: 10px 4px;}
.grouplist li span.title {font-weight:bold;display:block;width:200px;position:relative;float:left;border-radius:6px;padding:2px;}
.grouplist li span.info {display:block;float:left;font-size:.75em;margin-left:20px;}
.grouplist li span.duration {position:absolute;right:10px;text-align:left;}

li.mem {padding:2px;margin:0px;min-height:0px;}

.grouplist li li.mem {padding:1px;margin:0px;min-height:0px;height:70px;border:1px solid #999;}


.male {background-color:#EDF8FA;}
.female {background-color:#FAEFED;}