.listederlueste tr:hover {background-color:#eee;}
.listederlueste  td.job {color:#888;}

.lust_1 {color:red;border:1px solid red;background-color:#fdd;}
.lust_2 {color:#f55;border:1px dotted red;border-color:#fdd;background-color:#fdd;}
.posten {background-color:#333;color:white;}
