 <template name="ablauf"> 
<div>
	<h2>
		Sendung vom {{sendungsDate}} 
	</h2>
	<p>
		Dauer ca {{totalTime}} 
	</p>
	<ol class="ablauf" id="sortable">
		<li> <span class="title"> 

			Jingle 
		</span> <span class="duration">0:45</span> </li>
		{{#each thegroups}} 
		<li class="{{#if isLive}}live{{/if}}"> <span class="title"> 

			{{#if isLive}}LIVE: {{/if}}{{title}} 

		</span> <span class="info">{{#unless noDescription}}{{description}}{{description}}{{/unless}} 
		<ul class="comma-list" style="display:inline;margin: 0px 10px;padding:0px;">
			{{#each members}} 
			<li> {{first}}</li>
			{{/each}} 
		</ul>
		</span> <span class="duration"> {{#if currentUser}} 
		<input type="time" class="dauer" placeholder="Dauer" value="{{niceDuration}}" />
		{{else}} 
		<p>
			{{niceDuration}} 
		</p>
		{{/if}} </span> </li>
		{{/each}} 
		<li> <span class="title"> 

			Abpann 
		</span> <span class="duration">0:45</span> </li>
	</ol>
	{{#if currentUser}} 
	<div class="panel newGroup dontPrint">
		<form class="newGroup">
			<input id="f" type="text" placeholder="Livegast"> 
			<input type="submit" value="Neu"> 
		</form>
	</div>
	<button class="btn btn-primary alpha dontPrint">Alphabetisch</button> {{/if}} 
</div>
</template>