<template name="attestations">
{{#each members}}
{{> attestation}}
{{/each}}
<button class="btn btn-primary alpha showAll dontPrint">Alle zeigen</button> 
</template> 

<!--  ..................................................................... MEMBER ROW -->

<template name="attestation">
<div class="attestation" style="clear:both;position:relative;width:210mm;height:290mm;margin:0mm;padding:0mm;">
<img src="/other/anyma_entete.svg" style="width:187mm;height:12mm;margin-left:12mm;" />
<img src="/other/productions_stempel.jpg" style="position:absolute;bottom:1cm;right:5cm;z-index:-2;width:3cm;height:3cm;{{rotate}}">
<img src="{{signature}}" style="{{signaturestyle}}" />
<h2>ATTESTATION DE STAGE</h2>
<h4>[ a n y m a | productions ] confirme que</h4>
<h1>{{first}} {{last}}</h1>
<h4>a participé au workshop de télévision  “ADHESIF-LIVE”<br /> au CAS du Schoenberg, Fribourg</h4>
<h3>du 17 au 22 octobre 2022</h3>
<h4>en tant que</h4>
<h1><ul>{{#each jobs}}<li>{{title}}</li>{{/each}}</ul></h1>
<div style="margin-top:2cm; width:18cm;">

<p>[ a n y m a | productions ] propose des ateliers de télévision. C’est-à-dire que nous disposons d’un studio de télévision mobile que nous mettons à disposition de jeunes afin qu’ils puissent réaliser eux même leur propre émission de télévision présentée en direct et en public.</p>
<p>[ a n y m a | production ] initie les jeunes aux différents métiers de la télévision. Après avoir signé une charte fortement inspirée de la charte suisse des journalistes, les jeunes se lancent dans la création et la réalisation de reportages, qu’ils tournent montent et présentent lors de l’émission. Durant l’émission ce sont eux qui sont à la technique, régie image, caméras, son, etc… ils réalisent eux-mêmes l’émission de sa conception au direct sur la base de l’initiation reçue durant l’atelier TV.</p>



<p style="margin-top:1cm">[ a n y m a | productions ] </p>
<p>Michael Egger					</p>

</div>
</div>
</template> 