<template name="badgeback">
    {{#each members}}

    <div
        class="ausweis"
        style="
            clear: both;
            position: relative;
            width: 86mm;
            height: 54.7mm;
            margin: 0mm;
            padding: 0mm;
            font-size:9pt
        "
    >
        <div
            class="name"
            style="
                position: absolute;
                width: 52mm;
                height: 11mm;
                left: 2.5mm;
                vertical-align: bottom;
                top: 16mm;
                font-size: 1.5em;
                font-weight: bold;
                line-height: 90%;
            "
        ></div>
        <div
            class="project"
            style="position: absolute; right: 2.5mm; top: 2mm; color: #000"
        >
            <h2 style="font-size:12pt;text-align:right;">SchulTV#{{number}}<br/>{{name}}<br/>{{place}}</h2>
            <p style="">
Michi: 079 278 31 39
<br/><br/>
Margrit: 079 353 65 60<br/><br/>

Studio:044 508 59 76</p
            >
        </div>

        <div
            style="
                position: absolute;
                top: 9.5mm;
                left: 2mm;
                width: 132px;
                height: 120px;
                overflow: hidden;
            "
        >
            <img src="https://schultv.ch/archiv/{{archive}}/qr_code.png" />
        </div>
        <div style="
                position: absolute;
                bottom: 1.5mm;
                left: 5mm;
            "
        >
        schultv.ch/archiv/{{archive}}
        </div>
    </div>

    {{/each}}

    <button class="btn btn-primary alpha showAll dontPrint">Alle zeigen</button>
</template>
