 <template name="groups"> 
<div class="row">
	<div class="col-xs-8">
		<h2>
			Teams 
		</h2>
		<ul class="grouplist">
		{{#each thegroups}}{{> group}}{{/each}} 
		</ul>
		<div class="newGroup">
			<form class="newGroup">
				<input id="f" type="text" placeholder="Thema"> 
				<input type="submit" value="Neu"> 
			</form>
		</div>
	</div>
	<div class="col-xs-4">
	<h2>&nbsp;</h2>
		{{> memberchooser}} {{> cams}} 
	</div>
</div>
</template> 
<!-- ======================================================================= -->
<template name="group"> 
<li class="group cameradrop" id="{{_id}}">
	<button class="close delete"> &times; </button>
	<span class="title cam_{{camera}}" style="{{styling}}">
			{{#if doedit}}
			<form class="title"><input type="text" name="title" class="input-sm" value="{{title}}" /><input type="submit" class="hidden"></form>
			{{else}}
			<h4 class="title">
				{{title}}<br />
				<small>{{camera}}</small>
			</h4>
			{{/if}}
	</span>
	<span class="info">
	<ul class="list-inline members" id="group_{{_id}}" sytle="margin-left:30px;">
		{{#each members}} 
		<li id="member_{{_id}}" class="mem {{gender}}"><img src="{{thumb}}" height="36" style="float:left"/><button class="close removeMember"> &times; </button><br /><label style="float:left;"> {{first}}<br /><span style="font-weight:normal;font-size:9px;">{{tel}}&nbsp;</span></label>
</li>
		{{/each}} 
	</ul>
	</span>
	<span class="info description">
		{{#if bodyedit}}
			<form class="description"><textarea type="text" name="description" class="input-sm">{{description}}</textarea><input type="submit" value="save"></form>
		{{else}}
		<small>{{description}}</small>
		{{/if}}
	</span>


</li>
</template> 
<!-- ======================================================================= -->
<template name="memberchooser"> 
<div class="memberchooser panel panel-default">

<!-- Default panel contents -->
	<div class="panel-heading">
		Mitarbeiter <span class="caret"></span> 
	</div>

<!-- List group -->
	<ul id="memberlist" class="list-group members" style="display:none;" >
		{{#each members}} 
		<li id="member_{{_id}}" class="list-group-item mem {{gender}}" style="padding:2px 10px;margin:0px;"> <img src="{{thumb}}" height="20" /><label> {{first}} {{last}} </label></li>
		{{/each}} 
	</ul>
	{{done}}
</div>
</template> 
<!-- ======================================================================= -->
<template name="cams"> 
<div class="camerachooser panel panel-default">
	<div id="cam-panel-heading" class="panel-heading">
		Kameras <span class="caret"></span> 
	</div>
	<ul id="cameralist" class="list-group cameras" style="" >
		{{#each cams}} 
		<li id="camera_{{name}}" class="list-group-item cam" style="color:{{textcolor}};background-color:{{color}}"> {{name}} </li>
		{{/each}} 
	</ul>
</div>
</template> 