<template name="home">
    <hr />
    <h2>Sendung</h2>
    <ul class="home">
        <li>
            <a href="/ablauf">
                <i class="fa fa-list-ul fa-5x"></i><br />Ablauf
            </a>
        </li>
        <li>
            <a href="/abspann">
                <i class="fa fa-bars fa-5x"></i><br />Abspann
            </a>
        </li>
        <li>
            <a href="/spick">
                <i class="fa fa-list-alt fa-5x"></i><br />Moderatorenspick
            </a>
        </li>
        <li>
            <a href="/klappentext">
                <i class="fa fa-columns fa-5x"></i><br />Klappentext
            </a>
        </li>
    </ul>
    <hr />
    <h2>Mitarbeiter</h2>
    <ul class="home">
        <li>
            <a href="/mitarbeiter/neu">
                <i class="fa fa-male fa-5x"></i><br />Neu
            </a>
        </li>
        <li>
            <a href="/mitarbeiter">
                <i class="fa fa-group fa-5x"></i><br />Liste
            </a>
        </li>
        <li>
            <a href="/gruppen">
                <i class="fa fa-sitemap fa-5x"></i><br />Gruppen
            </a>
        </li>
        <li>
            <a href="/mitarbeiter/lernen">
                <i class="fa fa-graduation-cap fa-5x"></i><br />Namenlernen
            </a>
        </li>
        <li>
            <a href="/mitarbeiter/ausweis">
                <i class="fa fa-credit-card fa-5x"></i><br />Ausweise
            </a>
        </li>
        <li>
            <a href="/lueste">
                <i class="fa fa-tasks fa-5x"></i><br />Liste der Lüste
            </a>
        </li>
        <li>
            <a href="/jobverteilung">
                <i class="fa fa-trophy fa-5x"></i><br />Jobverteilung
            </a>
        </li>
        <li>
            <a href="/attestations">
                <i class="fa fa-envelope fa-5x"></i><br />Bestätigungen
            </a>
        </li>
          <li>
            <a href="/import">
                <i class="fa fa-exchange fa-5x"></i><br />Import Export
            </a>
        </li>
    </ul>
    <hr />
    <h2>Allgemein</h2>
    <ul class="home">
        <li>
            <a href="http://{{myip}}:5173" target="_blank"
                ><i class="fa fa-sun fa-5x"></i><br />Lights</a
            >
        </li>
        <li>
            <a href="http://switchbox.local/" target="_blank"
                ><i class="fa fa-scissors fa-5x"></i><br />Talkmaster</a
            >
        </li>
        <li>
            <a href="http://clock01.local/" target="_blank"
                ><i class="fa fa-clock fa-5x"></i><br />Clock 01</a
            >
        </li>
        <li>
            <a href="http://clock02.local/" target="_blank"
                ><i class="fa-solid fa-clock"></i><br />Clock 02</a
            >
        </li>
    </ul>
<hr />
    <ul class="home">
        <li>
            <a
                href="https://www.sunrise.ch/mysunrise/en/residential/my-overview/prepaid-uebersicht#/"
                target="_blank"
                ><i class="fa fa-5x fa-phone"></i><br />Sunrise</a
            >
        </li>
        <li>
            <a
                href=" https://schultv.ch/api/project/meteorconf/"
                target="_blank"
                ><i class="fa fa-code fa-5x"></i><br />Config</a
            >
        </li>
        <li>
            <a href="/mitarbeiter/ausweis_rueckseite">
                <i class="fa fa-credit-card fa-5x"></i><br />Ausweisrückseite
            </a>
        </li>
    </ul>
</template>
