<template name="posten">
       <label class="showAssigned"> Show All 
    	<input type="checkbox" data-toggle="toggle" checked="{{show_assigned}}" />
	</label> 
    <h2>Jobverteilung</h2>
    <table class="table table-condensed listederlueste">
        {{#each members}}
        <tr id="{{_id}}" class=" {{isSet}}">
            <th>
                {{first}} {{last}} {{#if image_rights}} <i></i>{{else}}
                <i class="fa fa-eye-slash"></i>{{/if}}
            </th>
            <td>{{emoji}}</td>

            {{#each jobs}}
            <td class="job {{lustClass ..}} {{hasJob ..}} {{isOccupied}} {{needsSomeone}}">
                {{job}}
            </td>
            {{/each}}
        </tr>
        {{/each}}
        <tr style="height: 1em"></tr>
        <tr style="border-top:1px solid #666;text-align:center; font-size: .8em;">
            <td>{{missing}}</td>
            <td>{{happyPeople}}</td>
            {{#each jobs}}
            <td class="{{needsSomeone}}">{{cnt}}</td>
            {{/each}}
        </tr>
    </table>
    <button class="clear">Clear</button>
 

</template>
