<head>
  <title>[ a n y m a | tv-tools ]</title>
<!--   <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
 -->
  <script defer src="fontawesome/js/solid.js"></script>
  <script defer src="fontawesome/js/fontawesome.js"></script>
</head>

<body>
</body>

<template name="ApplicationLayout">

<!--{{#if currentUser}} -->
  {{> navbar}}
  {{> branding}}
      <div class="container-fluid">
          {{> yield}}
      </div>

<!-- {{else}}
  {{> yield "loginYield"}}
  {{> branding}}
  {{> ablauf}}
{{/if}}
-->
</template>




<template name="branding"><div id="branding"><img src="{{project_logo}}" width="100" class="{{doPrint}}"/></div></template>

<template name="login">
        <div class="container-fluid">
                <div class="panel">

   {{> loginButtons}}</div>
      </div>
</template>
