<template name="abspann">
<div class="abspann">
{{vorlauf}}

 <h3>Mit</h3>
    {{#each all}}  &nbsp;
{{first}}<br />{{/each}}

 
 
{{> postenliste}}

<h3>Mit einem<br />&nbsp;&nbsp;Dankeschön an</h3>
{{#each danke}}
&nbsp;{{name}}<br />
{{/each}}
<p id="copyright">(cc) {{year}}
 [ a n y m a ]</p>
</div>
</template>


<template name="postenliste">
{{#each entries}}
  <h3>{{job}}</h3>
    {{#each members}}  &nbsp;
{{first}}<br />{{/each}}
{{/each}}
</template>

<template name="spick">
<div class="spick">
 <div id="posten"  style="position:absolute;left:1cm;top:1cm;">{{> postenliste}}
</div>
<p>&nbsp;</p>

  <div id="posten1" style="position:absolute;left:7cm;top:1cm;">{{> postenliste}}
</div>
<p>&nbsp;</p>

  <div id="posten2" style="position:absolute;left:13cm;top:1cm;">{{> postenliste}}
</div>
<p>&nbsp;</p>
</div>
</template>