<template name="member_edit">
	<div>
      {{#each editmembers}} {{> editmemberform}} {{/each}} 
	</div>
</template>


<template name="editmemberform">
   <div><form><div class="img-container">
<img src={{pic}}  width="320"/></div>

<input type="text" name="up_first" value="{{first}}" />
 <input type="text" name="up_last" value="{{last}}" />
 <input type="text" name="up_tel" value="{{tel}}" />
<input type="submit"  class="save" /><button class="cancel">Cancel</button></form></div>   
</template>
