<template name="memberlist">
      <h2 class="sub-header">Mitarbeiter ({{member_count}})   <label class="show-all">Show All<input type="checkbox" checked="{{show_all}}" /></label>
</h2>
          <div class="table-responsive">
                               <form class="new-member">

            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Photo</th>
                  <th>Vorname</th>
                  <th>Name</th>
                  <th>Mobile</th>
                  <th>Gruppe</th>
                </tr>
              </thead>
              <tbody>
              {{#each members}}
                 {{> memberlist_row}}
                {{/each}}
                
                  <tr>
 <td><button class="snap">Take a Photo</button>


  {{#if photo}}
    <div>
      <img src={{photo}} width="160"/>
    </div>
  {{/if}}</td>
   <td> <input type="text" name="first" placeholder="Vorname" /></td>
   <td> <input type="text" name="last" placeholder="Nachname" /></td>
   <td> <input type="text" name="tel" placeholder="Mobil Nummer" /></td>
   <td><input type="submit" />         
</td>
   </tr>
               </tbody>
            </table>
  </form>
        </div>

    </template>
    
<!--  ..................................................................... MEMBER ROW -->    
<template name="memberlist_row">
<tr class="boy">
                  <td><img src={{pic}} width="160"/></td>
                  <td>{{first}}</td>
                  <td>{{last}}</td>
                  <td>{{tel}}</td>
                  <td class="smalltext">{{group}}{{#if show_all}} | {{project}}
{{/if}}<button class="delete">&times;</button>
</td>
                </tr>
</template>

<!--  ..................................................................... UPLOAD     -->    
<template name="upload">
<p style="margin-top:40px"></p>
          {{> upload_bootstrap contentType='images' fileTypes='.jpg' }}

            <hr />
</template>